.ipynb_checkpoints
**/layers
**/*.ctrl
**/*.lwp
**/logs
**/user-config.py
**/user-password.py
**/node_modules
**/.env
.serverless
response.json
**/__pycache__
**/apicache-py3
.vscode
**/*.pyc
**/*.zip
**/mrds.csv
